<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EcoTracker - Welcome</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Welcome to EcoTracker</h1>
  </header>
  <main>
    <div class="description">
      <p>Track your carbon footprint and make a positive impact on the environment!</p>
      <div class="text">
        <a href="/register">Register</a><hr /><a href="/login">Login</a>

      </div>
    </div>
  </main>
</body>
</html>