<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - EcoTracker</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Iniciar Sesión en EcoTracker</h1>
    </header>
    <main>
        <div class="register">
            <form action="/login" method="POST">
                <label>Usuario:</label>
                <input type="text" name="username" required />
                <label>Contraseña:</label>
                <input type="password" name="password" required />
                <button type="submit">Iniciar Sesión</button>
            </form>
            <p>¿No tienes una cuenta? <a href="/register">Regístrate aquí</a></p>
        </div>
    </main>
</body>
</html>